* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  color: #123;
  /* background-color: #123; */
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.App > div {
  width: 100%;
  min-height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
}
